body{
  padding: 50px 0;
  margin: 0 auto;
  width: 80vw;
  min-height: calc(100vh - 100px);
  font-family: sans-serif;
   text-align: center;
   background-color: #fff7e6;
}

img{
  width: 100%;
  border-radius: 8px;
}

main{
  margin: 0 auto
}
section{
  width: 80%;
  display: inline;
  text-align: left;
}

hr {
  width: 60%;
  border: 1px solid #ffbb66;
}